body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
    max-width: 700px;
    margin: 0 auto;
}

.card-header {
    font-size: 1.5rem;
    background: #563d7c;
    border-radius: 15px 15px 0 0;
}

.btn {
    border-radius: 20px;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    font-size: 0.9rem;
}

.form-control-disabled {
    background-color: #e9ecef; /* Light gray background */
    color: #6c757d; /* Muted text color */
    pointer-events: none; /* Prevent interaction */
}
